.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;


}


.videoContainer {
  width: 100%;
  border: black 1px solid;
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: auto;
  margin-bottom: 1em;
}

.deviceSelector {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex: 1;
}

.deviceSelector>*:first-child {
  margin-bottom: 1em;
}